:root {
  --font-sm: 1rem;
  --font-reg: 1.4rem;
  --font-lg: 1.6rem;
  --font-xl: 2rem;
  --text: #000;
  --background: #fff;
  --app-height: 100%;
  --tab-inactive: #0000008c;
  --tab-inactive-dark: #ffffff8c;
}
