$bp-xxs: 23.49875em; // 375.98 / 16px
$bp-xs: 30.62375em; //489.98 / 16px
$bp-sm: 35.99875em; //575.98 / 16px
$bp-md: 47.99875em; //767.98 / 16px
$bp-lg: 61.99875em; //991.98 / 16px
$bp-xl: 74.99875em; //1199.98 / 16px
