.flyer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 80%;
}

.address {
  display: block;
  text-decoration: none;
  color: var(--text-dark);
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  transition: all 0.2s;
  margin-top: 0.5rem;

  &:hover {
    color: var(--text-dark);
    font-weight: bold;
  }

  p {
    padding: 0;
    line-height: 0.3rem;
  }
}
