/**********************************************************************/
.icon {
  // position: absolute;

  svg {
    width: 6rem;
    height: 6rem;
  }

  &__guitar {
  }

  &__xylophone {
  }

  &__rockstar {
    transform: rotateY(180deg) rotateZ(-25deg);
    svg {
      width: 10rem;
      height: 10rem;
    }
  }

  &__handsonic {
  }

  &__keys {
  }

  &__notes {
  }

  &__bongos {
    svg {
      width: 10rem;
      height: 10rem;
    }
  }
}
