/********************************************/
.heart {
  margin: 0 0.8rem 0 0.8rem;
  transform: translate(0, -0.3rem);
  svg {
    width: 2.0rem !important;
    height: 2.0rem !important;
    fill: #ff5733;
  }

  &--1 {
  }

  &--2 {
  }
}
