@import "../../styles/abstracts/sass-variables";

.cardTitle {
  position: relative;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: baseline;
  white-space: nowrap;
}
