@import "../../styles/abstracts/sass-variables";

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 100;

  @media only screen and (min-width: $bp-xl) {
    display: block;
  }
}
