.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
 
}

.jam {
  height: 2rem;
  display: block;
  margin-left: 4.3rem;
  font-size: 4rem;
  letter-spacing: 2px;
  line-height: 4.5rem;
  color: var(--text);
  font-weight: bold;
}
